.nav-wrapper {
  background: #2196f3bf;
}

.github-link {
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 1rem;
  height: 3rem;
  background-color: #2196f3bf;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
  border: 2px solid;
  border-color: #fff;
}

.github-link a {
  color: #fff;
  font-size: 20px;
}

button.btn {
  background-color: #2196f3bf;
}

button.btn:hover {
  background-color: #3e95da;
}

.centralize {
  margin-top: 65px;
}

.results {
  width: 50%;
  margin: auto;
  background-color: #d9edff;
  padding: 15px;
  box-shadow: 0px 0px 15px 5px #23587163;
  /* background: url('https://source.unsplash.com/random/450x450');
  background-size: cover; */
}

.results .right {
  font-size: 14px;
  background-color: aliceblue;
  padding: 5px;
  border: 1px dotted #03a9f4;
}

#modal-search {
  width: 25%;
}

.modal-content button,
.search-location {
  margin-top: 15px;
}

.weather-img {
  box-shadow: 0px 0px 10px 2px #23587163;
  /* border: 1px solid #00000057; */
  background-color: #558cd3;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 920px) {
  .nav-wrapper .brand-logo {
    bottom: -20px;
  }

  .results {
    width: 100%;
    margin: auto;
  }
}
