.nav-wrapper {
  background: #2196f3bf;
}

.github-link {
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 1rem;
  height: 3rem;
  background-color: #2196f3bf;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
  border: 2px solid;
  border-color: #fff;
}

.github-link a {
  color: #fff;
  font-size: 20px;
}

button.btn {
  background-color: #2196f3bf;
}

button.btn:hover {
  background-color: #3e95da;
}

.results {
  background-color: #d9edff;
  padding: 15px;
  box-shadow: 0px 0px 15px 5px #23587163;
}

.results .right {
  font-size: 14px;
  background-color: aliceblue;
  padding: 5px;
  border: 1px dotted #03a9f4;
}

#modal-search {
  width: 25%;
}

.modal-content button,
.search-location {
  margin-top: 15px;
}

.weather-img {
  box-shadow: 0px 0px 10px 2px #23587163;
  border: 1px solid #00000057;
}
